* {
  box-sizing: border-box;
  margin: 0;
  font-weight: 600;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
body {
  display: flex;
  align-items: center;
  width: 1728px;
  height: 1117px;
  padding: 50px 1542px 1029px 50px;
  font-family: Roboto, sans-serif;
}
.button {
  color: red;
  display: flex;
  flex-direction: row;
  gap: 10px;

  border-radius: 19px;
  border: 2px solid #f00;
  padding: 10px 20px;
}
.number {
  color: black;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  transition: color 0.3s;
}
